@import "src/shared/constants/colors";

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $mainColor;
  color: $altTextColor;

  .wrapper {
    margin: 0 10%;
    display: flex;
    align-items: center;
  }

  img {
    width: 43px;
    height: 43px;
  }

  p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
  }
}
